.container1{
    height: 800px;
    width: 100%;
    display: flex;
    border: 2px solid black;
}

.container1 > #lila {
    background-color: purple;
    width: 100%;
    height: 20px;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

.container1 > #lila > .kek{
    background-color: skyblue;
    margin: 5px;
    height: 14px;
    width: 45px;
    border: 2px solid black;
}